/* Estilos para o modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  padding: 20px;
  border: 1px solid #000;
  background: #201E1E;
  border-radius: 8px;
  width: 400px;
  text-align: left;
}

.titleAdd {
  font-family: 'Intel', sans-serif;
  flex-direction: column;
  color:#fff;
  padding: 5px 30px;
}

/* Estilos para o formulário dentro do modal */
.Input-container {
  display: flex;
  color: #ffff;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.Input-container-remove { 
  display: flex;
  color: #ffff;
  gap: 10px;
}

label {
  font-weight: lighter;
  align-items: left;
  font-family: 'Intel', sans-serif;
  /* Adicione a fonte Intel e fallback para sans-serif */
  margin-bottom: 6px;
}

input {
  width: 300px;
  padding: 5px 30px;
  color:#fff;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255, 0.10);
}

/* Estilos para o botão de adicionar ferramenta */
.container {
  flex-direction: column;
  padding: 16px 24px;
  text-align: left;

}

.containerInput {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Estilos para o botão de adicionar */
button {
  color:#fff;
  background: transparent;
  padding: 5px 10px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),
    rgba(255, 255, 255, 0.10);
  box-shadow: 4px 4px 2px 0px #030000;
  cursor: pointer;
  margin: 0 auto;
  /* Adicione esta linha para centralizar o botão */
}

button:hover {
  background-color: #5a5e5b;
}
/* Adicione ao seu arquivo Modal.css */

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para a sobreposição do modal */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente para a sobreposição do modal */
  border-radius: 8px;
  padding: 20px;
  max-width: 400px; /* Largura máxima do corpo do modal */
  width: 100%;
}

.title-remove {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.close-icon {
  margin-right: 10px;
  cursor: pointer;
}

.Input-container-remove {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  margin-bottom: 20px;
  font-size: 16px;
}

.button-cancel,
.button-remove {
  background-color: transparent; /* Cor de fundo dos botões */
  color: #fff;/* Cor do texto dos botões */
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.button-remove:hover {
  background-color: #4c4b4b; /* Cor de fundo dos botões ao passar o mouse */
}
