
body { 
  background: url(/img/bg-desktop.jpg);
  color: white;
}
.container { 
  min-height: 100vh;
  width: 447px;
  margin: 0 auto;
}

.title { 
  color: #FFF;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  display: flex;
  font-weight: 400;
  animation: flipTitle 2s;
}

.subTitle { 
  color: #FFF;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 29px;
  font-style: normal;
  font-weight: 400;
}

@keyframes flipTitle {
  from{
    transform: rotateX(90deg); 
  }
  to{ 
    transform: rotateX(0deg);
  }
}

.containerInput { 
  padding: 4px 6px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 110px;
  margin: 0px 0; 
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: rgba(255, 255, 255,0.10);
  backdrop-filter: blur(4px);
}
.containerInput input { 
  width: 85px;
  background-color:transparent ;
  border: 0;
  color: #FFF;
  outline: none;
}
.containerInput input::placeholder{ 
  color: #F1f1f1;
}

.buttonSearch { 
  background: transparent;
  line-height: normal;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.5s; 
}

.buttonSeach { 
  line-height: normal;
  width: 110px; 
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonSearch:hover { 
  transform: scale(1.2);
}